In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/Sergey/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
df = pd.read_csv('new_data.csv')
df.head(5)

/var/folders/qj/yzbtrl8d3v1d1kcls_9thcs80000gn/T/ipykernel_49240/1420745984.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('new_data.csv')

,Unnamed: 0,tweetid,userid,tweet_time,urls,new_urls,category
0,2,1141225696385273856,jqGSYKkIV+B+ELGTvX+qbrzut5YRGjh9LNi5v5gRP8=,2019-06-19 06:06:00,https://nat-antivirus.livejournal.com/212268.html,nat-antivirus.livejournal.com,Russian_Social_Media
1,12,1227402493266669568,if+944C9xU5IQj6xyppVV0Y46dcpBR2KBV++DLP8+M=,2020-02-12 01:22:00,https://nat-antivirus.livejournal.com/296972.html,nat-antivirus.livejournal.com,Russian_Social_Media
2,16,1229950883179515904,jqGSYKkIV+B+ELGTvX+qbrzut5YRGjh9LNi5v5gRP8=,2020-02-19 02:08:00,https://nat-antivirus.livejournal.com/298798.html,nat-antivirus.livejournal.com,Russian_Social_Media
3,17,1229955471265665024,jqGSYKkIV+B+ELGTvX+qbrzut5YRGjh9LNi5v5gRP8=,2020-02-19 02:26:00,https://nat-antivirus.livejournal.com/299208.html,nat-antivirus.livejournal.com,Russian_Social_Media
4,32,1194210171322429440,3PGzTwb+Kk4yCSOyqgAZ3zPaUJ7xE3L+BSppo6ZLw8U=,2019-11-12 11:07:00,https://www.youtube.com/watch?v=Jvr4qDIzvS0,www.youtube.com,Video_Hosting_Website

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6305547 entries, 0 to 6305546
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   tweetid     int64
 2   userid      object
 3   tweet_time  object
 4   urls        object
 5   new_urls    object
 6   category    object
dtypes: int64(2), object(5)
memory usage: 336.8+ MB

In [18]:
un = df[df['category'] == 'unidentified']

In [19]:
un = un.new_urls.value_counts().to_frame()
un

                        new_urls
www.profile.ru             22058
www.newkaliningrad.ru      21636
161.ru                     15260
dropi.ru                   14913
voronezh.er.ru              8799
...                          ...
www.superga.co.uk              1
www.universitytimes.ie         1
sphotos-c.ak.fbcdn.net         1
valeravalera.ru                1
www.themanual.com              1

[28979 rows x 1 columns]

In [10]:
un.columns

Index(['new_urls'], dtype='object')

In [20]:
un1000 = un[un['new_urls'] >= 1000]

In [23]:
un1000.reset_index(inplace=True)
un1000

                     index  new_urls
0           www.profile.ru     22058
1    www.newkaliningrad.ru     21636
2                   161.ru     15260
3                 dropi.ru     14913
4           voronezh.er.ru      8799
..                     ...       ...
103            www.adme.ru      1067
104       www.gocomics.com      1056
105              politi.co      1054
106           ruposters.ru      1025
107            thehill.com      1010

[108 rows x 2 columns]

In [25]:
un1000.head(20)

                    index  new_urls
0          www.profile.ru     22058
1   www.newkaliningrad.ru     21636
2                  161.ru     15260
3                dropi.ru     14913
4          voronezh.er.ru      8799
5               nevnov.ru      7740
6                 4sq.com      7699
7             izvestia.ru      6315
8          emaidan.com.ua      6193
9                   76.ru      5920
10                trib.al      5793
11                  45.ru      5714
12                 nyp.st      5615
13                  ln.is      5542
14                ufa1.ru      5470
15                 fxn.ws      4984
16         valdaiclub.com      4499
17      www.breitbart.com      4351
18        podrobnosti.biz      4019
19      truthfeednews.com      3852

In [24]:
un1000.iloc[20:41,:]

                   index  new_urls
20             dailym.ai      3717
21                  t.me      3537
22             onedio.ru      3508
23     ru.valdaiclub.com      3277
24               nyti.ms      3222
25             washex.am      2971
26               twib.in      2925
27         truthfeed.com      2794
28    www.losefattips.pw      2768
29                 er.ru      2733
30          www.ridus.ru      2618
31            profile.ru      2609
32                onf.ru      2524
33    orientalreview.org      2403
34       openreporter.ru      2342
35          sadcnews.org      2331
36             www.kp.ru      2256
37      www.swarmapp.com      2211
38  en.insidesyriamc.com      2210
39          stroi.mos.ru      2186
40           tvzvezda.ru      2166

In [38]:
un1000.iloc[80:101,:]

                            index  new_urls
80                  kommersant.ru      1291
81                 ru.insider.pro      1289
82           www.exercisequote.pw      1272
83                 www.burnfat.pw      1270
84            insider.foxnews.com      1244
85                      kron4.com      1206
86                        shar.es      1196
87              usfreedomarmy.com      1196
88            www.sueddeutsche.de      1195
89                  www.anews.com      1194
90                           u.to      1183
91                          is.gd      1172
92     www.washingtonexaminer.com      1172
93                    www.pscp.tv      1165
94                    nahnews.org      1154
95                        reut.rs      1134
96                  newmsknews.ru      1125
97                    echo.msk.ru      1113
98               agendaofevil.com      1111
99   creepingsharia.wordpress.com      1109
100                       huff.to      1100

In [45]:
un1000[un1000['index'].str.contains('emaidan')]

            index  new_urls
8  emaidan.com.ua      6193